<html>
    <body>
        <h1>{{username}} daily report</h1>
        <p>Today your wallet is:</p>
        <ul>
            {{#each ccqs}}
              <li>{{code}}: {{nav}}</li>
            {{/each}}
        </ul>
        <p>Total: {{total}}</p>>
    </body>
</html>